.content-container > div:first-of-type {
  display: flex;
  flex-direction: row;
}

.troop-image {
  width: 150px;
  margin: 20px;
  margin-bottom: 10px;
}

.troops-total {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.troops-data {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  display: flex;
  align-content: center;
  line-height: 20px;
  height: 20px;
}

.detail-image {
  width: 20px;
  margin-left: 3px;
}

.troops-container {
  z-index: 1;
  margin: auto;
  margin-bottom: 0;
  background-color: rgb(70, 150, 136);
  color: white;
  width: 300px;
  height: 80px;
  line-height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.troops-list {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: auto;
}

.troop-levels {
  margin: 0;
  color: white;
  font-size: 22px;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.small-troop-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto 10px;
  margin-left: 0;
}

.list-upgrade {
  display: flex;
  flex-direction: column;
}

.upgrade-section {
  background-color: #ed7748;
  width: 250px;
  margin: auto;
  margin-top: -10px;
  padding-top: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.upgrade-troops {
  width: 70px;
  height: 30px;
  background-color: #e6c224;
  border-radius: 10px;
  color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  line-height: 30px;
}

.upgrade-component {
  margin-left: 10px;
  padding-top: 3px;
}

.upgradable-troops {
  width: 400px;
  height: fit-content;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.upgrade-text {
  margin-left: 10px;
  letter-spacing: 0.5px;
  color: white;
  font-size: 15px;
}

.upgrade-text-mini {
  margin: 0;
  margin-left: 2px;
  letter-spacing: 0.5px;
  color: white;
  font-size: 14px;
  line-height: 25px;
}

.upgrade-text-mini::first-letter {
  text-transform: lowercase;
}

.upgrade-cost {
  letter-spacing: 0.5px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 5px;
  line-height: 25px;
}

.upgrade-field {
  margin: auto;
  margin-right: 10px;
}

.upgrade-troops:hover {
  cursor: pointer;
}

.coin {
  margin: auto;
}

.input-field {
  background-color: rgba(255, 255, 255, 0.767);
  border-color: white solid;
  border-radius: 6px;
  width: 25px;
  height: 20px;
  text-align: center;
  margin: 2px;
}

.input-field:focus {
  background-color: white;
  border-color: white solid;
  outline-width: 0;
}

.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  display: flex;
  align-content: center;
  justify-content: center;
}

.upgrade-error {
  color: rgb(197, 0, 0);
  font-size: 11px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .content-container > div:first-of-type {
    display: flex;
    flex-direction: column;
  }

  .troop-image {
    width: 90px;
    margin: 1vw;
    align-self: flex-end;
  }

  .troops-total {
    flex-direction: row;
  }

  .troops-total-data {
    margin-top: 0.3em;
    margin-bottom: 0.2em;
  }

  .troops-data {
    font-size: 1em;
    margin-left: 0.8em;
  }

  .troops {
    margin: 0 auto;
  }

  .troops-container {
    margin: 1.5em auto;
    width: 230px;
    height: 60px;
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
  }

  .troop-levels {
    font-size: 1.2em;
  }
}

