.mine {
  background: url(../../assets/buildings/mine.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 9vw;
  height: 9vw;
  border: none;
}

.farm {
  background: url(../../assets/buildings/farm.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 9vw;
  height: 9vw;
  border: none;
}

.academy {
  background: url(../../assets/buildings/academy.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 9vw;
  height: 9vw;
  border: none;
}

.townhall {
  background: url(../../assets/buildings/townhall.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 9vw;
  height: 9vw;
  border: none;
}

.building-buttons {
  margin: 9px auto;
  box-shadow: none;
}

.building-buttons:focus {
  box-shadow: none;
}

.building-buttons:hover {
  background-color: none;
}

p::first-letter {
  text-transform: uppercase;
}

p {
  width: fit-content;
  margin: 0px auto;
  color: #727374;
  font-size: 1vw;
}

.building {
  width: 14vw;
  margin-bottom: .8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.building button {
  position: static;
}
