#mine {
  background: url(../../assets/buildings/mine.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border: none;
}

#farm {
  background: url(../../assets/buildings/farm.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border: none;
}

#barracks {
  background: url(../../assets/buildings/barracks.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border: none;
}

#townhall {
  background: url(../../assets/buildings/townhall.svg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height: 120px;
  border: none;
}

.building-buttons {
  margin: 10px auto;
}

p::first-letter {
  text-transform: uppercase;
}

p {
  width: fit-content;
  margin: 0px auto;
  color: #727374;
}

.building {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
