.upgrade-button {
  margin: 2px auto 5px;
  padding: 10px 13px;
  width: 340px;
  height: 85px;
  min-width: 240px;
  min-height: 60px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  background-color: #3cb878;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px #999;
}
.upgrade-button:hover {
  background-color:   #47d68c;
}
.upgrade-button:active {
  box-shadow: 0px 3px #666;
  transform: translateY(2px);
}
.upgrade-button * {
  user-select: none;
}
.upgrade-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.upgrade-icon img {
  height: 100%;
  border: white solid .5px;
  border-radius: 50%;
}

.upgrade-details {
  text-align: left;
  width: 90%;
  margin-left: 1.1vw;
}

.upgrade-details p {
  margin: .6em auto;
  font-size: 1.3em;
  color: white;
  width: 90%;
}

.upgrade-details > p:nth-of-type(2) {
  font-weight: lighter;
}

@media screen and (max-width: 767px) {
  
  .upgrade-button {
    width: 250px;
    height: 63px;
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
  }
  
  .upgrade-icon {
    margin-left: 2.5vw;
  }
  
  .upgrade-details p {
    font-size: .8em;
    line-height: 1.3em;
  }
  
  .upgrade-details img {
    width: 10%;
    height: 10%;
  }

  .upgrade-details p {
    font-size: .7em;
  }


}