body {
  margin: 0;
  padding: 0;
  align-content: center;
  justify-content: center;
}

svg {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5%;
  border: solid 1px grey;
  background-color: rgba(0, 0, 0, 0.534);
}

.kingdoms-container {
  margin-top: 30px;
}

.map-container {
  width: 800px;
  height: 580px;
  margin: auto;
  padding: 20px;
  background-color: rgba(45, 67, 83, 0.746);
  border-radius: 10%;
}

.map-select-header {
  margin: 0;
  color: white;
}

.submit-kingdom {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.selected-kingdom-header {
  margin: 0;
  color: white;
}

.map-select-button {
  margin: auto 0px;
  color: white;
  font-size: 18px;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 80px;
  background-color: rgb(101, 169, 43);
  border: none;
  box-shadow: 0px 0px 8px #999;
  position: static;
}

.map-select-button:hover {
  background-color: rgb(91, 151, 38);
  cursor: pointer;
}

.map-select-buttonbutton:focus {
  outline: none;
}

.map-select-buttonbutton:active {
  box-shadow: 0px 0px 12px rgb(175, 175, 175);
  transform: translateY(2px);
  transform: translateX(1px);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .kingdoms-container {
    margin-top: 100px;
  }

  .map-container {
    width: 90%;
    height: 100%;
  }

  .selected-kingdom-header {
    font-size: 1.5em;
  }

  .map-select-header {
    font-size: 1.8em;
  }

  .submit-kingdom {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-select-button {
    font-size: .9em;
  }
}

@media screen and (max-width: 767px) {
  .kingdoms-container {
    margin-top: 50px;
  }

  .map-container {
    width: 80%;
    height: 100%;
  }

  .selected-kingdom-header {
    font-size: .9em;
  }

  .map-select-header {
    font-size: 1.2em;
  }

  .submit-kingdom {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .map-select-button {
    font-size: .9em;
    height: 30px;
    width: 60px;
  }

}