.resources-container {
  padding: .5vw 1vw;
  display: flex;
  overflow: hidden;
}

.resources-container > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-evenly;
  overflow: hidden;
}

p {
  color: red;
  font-weight: bold;
  letter-spacing: 3px;
}