.details-container {
  width: inherit;
  display: flex;
}

.image-div {
  display: flex;
  flex-direction: column;
}

.details-container > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.building-image {
  width: 160px;
  margin: .3vw;
}

.image-div h2 {
  color: #727374;
  font-size: 1em;
  letter-spacing: 2px;
  margin-top: .5vw;
}

.building-description {
  margin-top: .5vw;
  margin-bottom: 2.5vw;
}

.building-description p {
  text-align: left;
  font-size: 1.1em;
  line-height: 1.3em;
  margin-left: 2vw;
  margin-bottom: .5vw;
  color: black;
  letter-spacing: .12em;
}

.building-description > p img {
  height: 1em;
}

.upgrade-error-message-container {
  display: block;
  height: 30px;
  line-height: 30px;
  width: 100%;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.add-troop-error-message-container {
  display: block;
  height: 30px;
  line-height: 30px;
  justify-self: center;
  align-self: center;
}
.add-troop-error-message-container span {
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
}
.upgrade-error-message-container span {
  margin-left: -100%;
  margin-right: -100%;
  text-align: center;
}
.upgrade-building-container {
  justify-self: center;
}
.add-troop-container {
  margin-top: 5px;
  justify-self: center;
}
.back-button {
  background-color: rgba(255, 0, 0, 0.603);
  border-radius: 10px;
}
.back-button:hover {
  background-color: rgba(196, 0, 0, 0.603);
  border-radius: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .building-image {
    width: 120px;
    margin: .3vw;
  }

  .building-description p {
    font-size: 1em;
    line-height: 1.3em;
    margin-left: 2vw;
    margin-bottom: .9vw;
    color: black;
    letter-spacing: .12em;
  }
}

@media screen and (max-width: 767px) {
  .details-container {
    flex-direction: column;
  }

  .image-div {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 3.5vw;
  }

  .building-image {
    width: 90px;
    margin: 1vw;
  }

  .image-div h2 {
    font-size: 1em;
    letter-spacing: 1px;
    text-align: left;
    margin-left: 2.5vw;
    margin-bottom: -10px
  }


  .building-description {
    margin-top: .5vw;
    margin-bottom: .5vw;
  }

  .building-description p {
    font-size: .8em;
    margin-bottom: 1.4vw;
  }

  .back-button {
    width: 100px;
    margin-right: 42%;
  }
}